body, html {
	height: 100%;
	margin: 0;
	color:white;
	/* The image used */
    background: url("../images/background_image.png") no-repeat center center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p {
	font-size: 16px;
}

.margin {
	margin-bottom: 40px;
}

.container-fluid {
	padding-top: 30px;
	padding-bottom: 30.5px;
}

.bg-2{
}

.bg-3 {
	background-color: #5bcaea; /* Black Gray */
	color: #fff;
}

.fa {
	display: inline-block;
	border-radius: 70px;
	box-shadow: 0px 0px 2px #888;
	padding: 0.7em 0.87em;
}

.fa-facebook {
	background: white;
	color: #5bcaea;
}

.fa-linkedin {
	background: white;
	color: #5bcaea;
}

.fa-instagram {
	background: white;
	color: #5bcaea;
}

